.header__list {
  display: flex;
  align-items: center;
}
.list__item {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  cursor: pointer;
  margin: 0px 15px;
  font-size: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
}
