.card {
  background: #4e535a;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
}
.title {
  font-size: 24px;
  font-family: 'GoogleMedium', sans-serif;
  padding-top: 10%;
}
.description {
  font-weight: 300;
}
.count {
  font-size: 18px;
  color: #a6a9ac;
  font-family: 'GoogleMedium', sans-serif;
}
.count_span {
  color: #ffffff;
}
.block_icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.icon_item {
  margin: 0px 3.5px;
  cursor: pointer;
}
.color {
  background: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 8px;
}
.name_block {
  display: flex;
  align-items: center;
}
.card_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 0px 0px 0px 12px;
}
