.card {
  position: relative;
  background: #2d2d2d;
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  padding: 0px 10px;
}
.title {
  font-size: 27px;
  font-weight: 700;
}
.description {
  font-weight: 300;
}
.count {
  font-size: 22px;
}
.icon_trash {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 7%;
}
