.inventory {
  height: 90vh;
  width: 95%;
  margin: 0 auto;
  padding-top: 30px;
}

.container__invent {
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  height: 82vh;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  width: 82%;
}
.inventory_content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
