.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0s;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 45%;
  height: 60%;
  background: #4e535a;
  border-radius: 5px;
  padding-top: 20px;
}
.form {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container__title {
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0px 20px 0px;
}

.label {
  font-family: 'GoogleMedium', sans-serif;
  color: #ffffff;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.label_svg {
  margin-left: 9px;
  position: relative;
  &:first-child {
    margin-bottom: 6%;
  }
}
.input {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  border: 0;
  padding: 15px 0px 15px 15px;
  outline: none;
  color: #ffffff;
}
.password_input {
  margin: 18px 0px;
}
.button_block {
  display: flex;
  justify-content: space-between;
}
.submit {
  cursor: pointer;
  background: #56da6b;
  color: #000;
  font-size: 24px;
  font-family: 'GoogleMedium', sans-serif;
  border: 0;
  border-radius: 5px;
  width: 124px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.button_acc {
  cursor: pointer;
  color: #ffffff;
  background: #f36122;
  border-radius: 5px;
  width: 230px;
  height: 53px;
  border: 0;
  font-size: 18px;
  font-family: 'GoogleMedium', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.svg_button {
  margin-right: 10px;
}
.display_none {
  display: none !important;
}
