.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.header__list {
  display: flex;
}
.hedaer__logo {
  font-weight: 700;
}
.header_container {
  background: #ffffff;
}
